/* Devices Cards */

#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > button {
  color: white;
}
#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div:nth-child(3)
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div
  > button:hover {
  color: #39bda7;
}

#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div
  > div
  > div
  > div
  > div {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5% 5% 5% 10%;
  border-radius: 5px;
  height: 170px;
  border-left: 8px solid #9ad8e1 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* location container */
#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2) {
  color: black;
}

/* Device Name */
div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > h1 {
  color: black;
  font-size: 20px;
}

/* [data-testid="column"] .stButton{
  margin:unset;
  height: 10px !important;
} */
.st-emotion-cache-3ps0xc p{
  word-break: break-all !important;
  line-height: 1 !important;
}

@media (max-width: 768px) {
  /* .st-emotion-cache-3ps0xc p{
    font-size: 10px !important;
  } */
  
  .st-emotion-cache-ocqkz7{
    display: flex !important;
    gap: 10px !important;
    /* flex-wrap: nowrap !important; */
    justify-content: start !important;
    align-items: center !important;
  }
  .st-emotion-cache-keje6w{
    min-width: unset !important;
  }
}

button[data-testid="baseButton-secondary"]:hover{
  border-color: red !important;
}