#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-0.e1f1d6gn0
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div.st-emotion-cache-1r6slb0.e1f1d6gn3
  > div
  > div
  > div
  > div
  > div
  > button {
  padding-left: 10px;
  text-align: left;
  border: 0;
  border-left: #9ad8e1 solid 2px;
  background-color: black;
  border-radius: 10px;
  color: gray;
  height: 50px;
  width: 250px;
  margin-bottom: 10px;
  /* padding: 10px; */
}

#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-0.e1f1d6gn0
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div.st-emotion-cache-1r6slb0.e1f1d6gn3
  > div
  > div
  > div
  > div
  > div
  > button
  :hover {
  /* transition: all 0.5s;
  cursor: default; */
  color: white;
}
