/* quality index */
#root
  > div:nth-child(1)
  > div.withScreencast
  > div
  > div
  > div
  > section.main.st-emotion-cache-uf99v8.ea3mdgi8
  > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi5
  > div
  > div
  > div
  > div.st-emotion-cache-0.e1f1d6gn0
  > div
  > div
  > div:nth-child(4)
  > div:nth-child(2)
  > div
  > div
  > div
  > div.st-emotion-cache-ocqkz7.e1f1d6gn5
  > div.st-emotion-cache-keje6w.e1f1d6gn3
  > div
  > div
  > div
  > div
  > div
  > div {
  background-color: rgb(38, 39, 48);
  border-radius: 10px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  border: transparent solid 2px;
  color: gray;
  min-height: 50px;
  text-align: center;
}
